html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 10px;

  border: 1px solid black;
}

.name .container {
  display: flex;
  align-items: center;
}

.name__img {
  margin-right: 50px;
}

.contacts__title,
.summary__title,
.skills__title,
.code-examples__title,
.education-experience__title,
.english__title {
  color: #c9823e;
}
