/* ГЛОБАЛЬНЫЕ СТИЛИ */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  padding-top: 30px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #1a3657;

  background-color: #cd9575;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #475465;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.visually-hidden:not(:focus),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
  padding: 5% 40px;

  background-color: #e6c3b0;
  box-shadow: inset 2px 2px 2px 0 white,
    inset 0 0 0 4px #4f5054,
    inset 0 0 0 5px black,
    inset -5px -5px 5px 3px white,
    inset 0 0 0 9px #6c6d70,
    inset 0 0 0 10px black;
}

.container__column {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.container__column--contacts {
  width: 35%;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.contacts__title,
.summary__title,
.skills__title,
.code-examples__title,
.education-experience__title,
.english__title {
  margin-bottom: 25px;
  padding: 10px 5%;
  color: #854826;

  background-color: #e6b79c;
}


.name__img {
  margin-bottom: 50px;
}

.name__title {
  margin-bottom: 10px;
  color: #1a3657;
}

.name__description {
  color: #9a7a68
}

.contacts__title {
  line-height: 100%;
}

.contacts__list {
  display: flex;
  flex-direction: column;
}

.contacts__item {
  margin-bottom: 20px;
}

.contacts__item--location,
.contacts__item--mail,
.contacts__item--phone,
.contacts__item--telegram {
  position: relative;
  padding-left: 40px;
}

.contacts__item--location::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: -3px;
  left: 0;

  background: url("./img/location-icon.svg") no-repeat center;
  background-size: 25px 25px;
}


.contacts__item--mail::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: -3px;
  left: 0;

  background: url("./img/mail-icon.svg") no-repeat center;
  background-size: 30px 30px;
}

.contacts__item--phone::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  top: -3px;
  left: 0;

  background: url("./img/phone-icon.svg") no-repeat center;
  background-size: 25px 25px;
}

.contacts__item--telegram::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: -3px;
  left: 0;

  background: url("./img/telegram-icon.svg") no-repeat center;
  background-size: 25px 25px;
}

.summary__text {
  width: 740px;
  padding-left: 50px;
}

.skills__title-hard,
.skills__title-soft {
  margin-bottom: 20px;
  padding-left: 20px;

  color: rgba(70, 130, 180, 0.7);
}

.skills__list {
  padding-left: 50px;
  padding-bottom: 20px;
}

.skills__item {
  margin-bottom: 10px;
}

.skills__title-programming,
.skills__title-others {
  margin-bottom: 20px;

  font-style: italic;
  font-weight: 400;
  text-decoration: underline;

  color: rgba(0, 0, 0, 0.7);
}

.skills__soft-text {
  padding-left: 60px;
}

.education-experience__list {
  padding-left: 50px;
  list-style: disc;
}

.education-experience__item {
  margin-bottom: 10px;
}

.english-text {
  padding-left: 50px;
}
